.inputBox {
    font-family: "Roboto";
    height: 100%;
}
.searchBoxHome {
    width: 50%;
    height: 100px;
    border-radius: 10px;
    position: relative;
}
.logo {
    width: auto;
    height: 2rem;
    object-fit: contain;
    cursor: pointer;
}
/* @keyframes sliding{
    0%{
      transform: translateX(-70%);
    }
    100%{
      transform: translateX(130%);
    }
  } */